@font-face {
    src: url('fonts/raleway.ttf');
    font-family: 'raleway';
    font-weight: 400;
    font-style: normal;
}

@font-face {
    src: url('fonts/raleway-bold.ttf');
    font-family: 'raleway';
    font-weight: 700;
    font-style: normal;
}
