.Banners {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.Banners--item {
    position: relative;
    height: 150px;
    margin-bottom: 1em;

    background-size: cover;
    background-position: 50% 0;

    cursor: pointer;

    &:last-child {
        margin-bottom: 0;
    }

    &.-big {
        height: 256px;
    }
}

.Banners--overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-color: hsva(0, 0, 0, 0.4);

    transition: background-color 0.3s ease;

    .Banners--item:hover & {
        background-color: hsva(0, 0, 0, 0.2);
    }
}

.Banners--text {
    position: absolute;
    bottom: 10px;
    left: 10px;

    > h3,
    > h4 {
        display: inline-block;
        vertical-align: top;
        margin: 10px 0 0 0;
        padding: 5px;

        background-color: #fff;

        font-weight: normal;
        text-transform: uppercase;
    }

    > h3 {
        font-size: 28px;

        .Banners--item.-big & {
            font-size: 36px;
        }
    }

    > h4 {
        font-size: 14px;

        .Banners--item.-big & {
            font-size: 18px;
        }
    }
}

.Banners--tags {
    display: inline-block;
    vertical-align: top;
    padding: 0.3em;

    background-color: @red;

    color: #fff;
    font-size: 12px;

    .Banners--item.-big & {
        font-size: 16px;
    }
}
