.Button {
    display: inline-block;
    padding: 0 1em;
    vertical-align: top;

    background-color: @red;
    border-radius: 0.5em;

    color: #fff;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 3em;

    transition: background-color 0.3s ease;

    &:hover {
        background-color: lighten(@red, 10%);
    }

    &.-grey {
        background-color: @text;

        &:hover {
            background-color: lighten(@text, 10%);
        }
    }

    &.-float {
        display: block;
        float: left;
        margin-right: 1em;
    }

    &.-group {
        margin: 0;
        border-radius: 0;

        &:first-child {
            border-radius: 0.5em 0 0 0.5em;
        }

        &:last-child {
            border-radius: 0 0.5em 0.5em 0;
        }
    }
}
