.Calendar {
    padding: 0;
    list-style-type: none;
}

.Calendar--item {
    position: relative;
    height: 80px;
    padding: 8px 8px 8px 80px;

    cursor: pointer;

    &:nth-child(2n) {
        background-color: @grey-bgr;
    }

    &::before, &::after {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 4px;

        background-color: @border;
        opacity: 0;

        transition: opacity 0.3s ease;

        content: '';
    }

    &::before {
        left: 0;
    }

    &::after {
        right: 0;
    }

    &:hover {
        &::before, &::after {
            opacity: 1;
        }
    }
}

.Calendar--date {
    position: absolute;
    top: 8px;
    bottom: 8px;
    left: 8px;
    width: 64px;

    background-color: @text;

    color: @grey-bgr;
    font-weight: 700;
    text-align: center;

    > em {
        display: block;
        margin-top: 8px;

        font-size: 32px;
        font-style: normal;
    }

    > span {
        position: absolute;
        right: 0;
        bottom: 10px;
        left: 0;
    }
}

.Calendar--text {
    padding: 8px 0 0 8px;
    line-height: 1;

    > h3,
    > h4 {
        margin: 0;
        font-weight: 400;
    }

    > h3 {
        font-size: 20px;
    }

    > h4 {
        margin-top: 8px;
        font-size: 14px;
        text-transform: uppercase;
    }
}
