.Cities {
    padding: 48px 0;

    border-bottom: 1px solid @border;
}

.Cities--main {
    .clearfix;
    position: relative;
}

.Cities--map {
    float: left;
    width: 35%;
    height: 256px;
}

.Cities--text {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 35%;
    padding-left: 1em;

    h2 {
        margin: 0 0 16px 0;
        font-size: 24px;
        font-weight: 400;
    }
}

.Cities--textLay {
    display: table;
    width: 100%;
    height: 100%;
}

.Cities--textLayIn {
    display: table-cell;
    vertical-align: middle;
}

.Cities--links {
    .clearfix;
}

.Cities--link {
    display: block;
    float: left;
    margin: 0 0.5em 0.5em 0;
    padding: 0 1em;

    background-color: @navy;
    border-radius: 0.5em;

    color: #fff;
    line-height: 3em;

    transition: background-color 0.3s ease;

    &:hover {
        background-color: @red;
    }
}

.Cities--more {
    width: 50%;
    margin: 48px auto 0 auto;
    padding: 2em 1em;

    background-color: @grey-bgr;
    border-radius: 1em;

    text-align: center;

    header {
        font-size: 32px;
        margin-bottom: 16px;
    }

    em {
        color: @red;
        font-weight: 700;
        font-style: normal;
    }

    a {
        color: @red;
        font-weight: 700;
        border-bottom: 1px dotted;

        &:hover {
            border-bottom-style: solid;
        }
    }
}
