.Footer {
    position: relative;
    height: 128px;

    background-color: @text;
    box-shadow: inset 0 16px 16px hsva(0, 0, 0, 0.2);

    color: @grey-bgr;
    text-align: center;
    line-height: 128px;

    > span {
        display: inline-block;
        vertical-align: middle;
        line-height: normal;
    }
}
