html {
    height: 100%;
}

body {
    .text1;

    height: 100%;
    margin: 0;

    background-color: #fff;

    color: @text;
    font-size: 16px;
    font-family: 'raleway', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}
