.Hero {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 600px;
    overflow: hidden;

    perspective: 400px;
}

.Hero--bgr {
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;

    background-image: url('imgs/posters.jpg');
    background-repeat: repeat;
    background-position: 50% 0;

    animation: _heroAnim 20s linear infinite;
    //transform: rotateX(20deg); // todo: włącz!
}

.Hero--overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: fade(@navy, 90%);
}

.Hero--text {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    margin: 0;

    color: #fff;
    font-size: 32px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;

    transform: translateX(-50%) translateY(-50%);

    > span {
        color: @red;
        font-weight: 700;
    }

    > em {
        display: block;
        font-size: 48px;
        font-style: normal;
    }
}

@keyframes _heroAnim {
    0% {
        background-position: 50% 0;
    }

    100% {
        background-position: 50% -600px;
    }
}
