.Main {
    position: relative;
    margin-top: 600px;

    background-color: #fff;
    box-shadow: 0 -64px 64px hsva(0, 0, 0, 0.5);
}

.Main--content {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1em 48px 1em;
    box-sizing: border-box;
}

.Main--intro {
    padding: 48px 0;

    border-bottom: 1px solid @border;

    font-size: 24px;
    font-weight: normal;
    text-align: center;

    > span {
        display: block;
    }

    em {
        color: @red;
        font-weight: 700;
        font-style: normal;
    }
}

.Main--action {
    display: inline-block;
    vertical-align: top;
    margin-top: 32px;
}
