.News {
    .clearfix;
    padding: 32px 0;
    border-bottom: 1px solid @border;
}

.News--banners {
    float: left;
    width: 65%;
    padding-right: 0.5em;
    box-sizing: border-box;
}

.News--calendar {
    float: left;
    width: 35%;
    padding-left: 0.5em;
    box-sizing: border-box;
}

.News--sectionTitle {
    margin: 0 0 24px 0;

    color: @red;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;

    &.-centered {
        text-align: center;
    }
}
