.Support {
    padding: 48px 0;
    text-align: center;

    h2 {
        margin: 0;

        color: @red;
        font-size: 24px;
        font-weight: 400;
        text-transform: uppercase;
    }

    p {
        width: 100%;
        max-width: 800px;
        margin: 1em auto 2em auto;
    }

    a {
        //
    }
}
