.TopMenu {
    .clearfix;

    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 80px;

    background-color: @navy;

    transition: background-color 0.6s ease;
    z-index: 1;

    &._top {
        background-color: transparent;
    }
}

.TopMenu--logo {
    display: block;
    float: left;
    width: 260px;
    height: 100%;

    background-image: url('imgs/logo.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.TopMenu--items {
    float: right;
    padding-right: 1em;

    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 80px;

    @media (max-width: 999px) {
        display: none; // TODO: tymczasowe
    }
}

.TopMenu--link {
    display: block;
    float: left;
    padding: 0 1em;

    transition: color 0.3s ease;

    &:hover {
        color: @red;
    }
}
