._h1 { font-size: 6rem; }
._h2 { font-size: 5rem; }
._h3 { font-size: 1.6rem; }
._h4 { font-size: 1.8rem; }

._text1 { font-size: 18px; }
._text2 { font-size: 14px; }
._text3 { font-size: 12px; }

.h1() { &:extend(._h1 all); }
.h2() { &:extend(._h2 all); }
.h3() { &:extend(._h3 all); }
.h4() { &:extend(._h4 all); }
.text1() { &:extend(._text1 all); }
.text2() { &:extend(._text2 all); }
.text3() { &:extend(._text3 all); }
